<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Piston diversity ride template</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="certificates/css/ridecert.css?v=1"
    />
    <script src="certificates/js/ridecert.js?v=2"></script>
  </head>
  <body onload="fixCertVars()">
    <nav class="floating-menu">
      <h3 id="toolbar_title"></h3>
      <br />
      <a href="#" onclick="window.print()">Print</a>
      <a href="#" onclick="saveCertificate(this)">Save</a>
    </nav>
    <div id="page">
      <div class="header">
        <img
          id="header_badge"
          src="certificates/images/pistons.png"
          alt="Iron Butt Association Ride Certificate"
          ondblclick="updateImg(this);"
        />
        <span class="metadata" id="URI">#URI#</span>
        <p>#IBA_Ride_Desc#</p>
      </div>
      <div class="citation" contenteditable="true" spellcheck="true">
        <p>
          By this certificate the Iron Butt Association recognizes that
          #NameOnCertificate# has completed five exceptionally demanding and
          certified long-distance challenges, each one on a unique engine
          configuration, composing of 1, 2, 3, 4 and 6 cylinder motorcycles
          within 12 consecutive months, admitting him into the Piston Diversity
          Insanity fraternity:
        </p>

        <p>
          The Piston Diversity Insanity program recognizes those riders who
          endure the hardship of completing multiple documented advanced
          long-distance rides that test the limits of man and machine within one
          year on a wide variety of motorcycles.
        </p>
      </div>
      <img
        src="certificates/images/ibauk.png"
        alt=""
        style="float: right; padding-top: 4em"
      />
      <div id="signature" contenteditable="true" spellcheck="true">
        <img src="certificates/images/mbucksig.jpg" alt="" />
        <p>
          <strong>Martin Buck</strong><br />
          President, <br />
          The Iron Butt Association UK
        </p>
      </div>
    </div>
  </body>
</html>
