<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>RBLR South/clockwise template</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="certificates/css/ridecert.css?v=1"
    />
    <script src="certificates/js/ridecert.js?v=2"></script>
  </head>
  <body onload="fixCertVars()">
    <nav class="floating-menu">
      <h3 id="toolbar_title"></h3>
      <br />
      <a href="#" onclick="window.print()">Print</a>
      <a href="#" onclick="saveCertificate(this)">Save</a>
    </nav>
    <div id="page">
      <div class="header">
        <!-- 4 SCW -->
        <img
          class="header_badge"
          src="certificates/images/ss1000.jpg"
          alt="Iron Butt Association Ride Certificate"
        />
        <span class="metadata" id="URI">#URI#</span>
        <h2>The RBLR SaddleSore 1000</h2>
        <p>1,000 miles in less than 24 hours</p>
      </div>
      <div class="citation">
        <img
          src="certificates/images/smallpoppy.png"
          alt=""
          style="float: left"
          padding-right:1em;
        />
        <p>
          This is to certify that on the #DateRideStart#, #NameOnCertificate#
          rode a #Bike# a total of 1,004 gruelling miles in less than 24 hours
          starting in Squires cafe, Yorkshire, continuing on to Lowestoft,
          Brighton and Bangor before ending in Squires cafe, Yorkshire while
          participating in the RBLR1000 event in support of the Royal British
          Legion's Poppy Appeal.
        </p>
      </div>
      <div class="strict">
        <p>
          The SaddleSore 1000 was conducted under very strict guidelines set
          forth by the Iron Butt Association. Only a handful of riders from
          around the world have managed to solve the challenges such a gruelling
          ride involves.
        </p>
      </div>
      <img
        src="certificates/images/ibauk.png"
        alt=""
        style="float: right; padding-top: 2em"
      />
      <div class="signature">
        <img src="certificates/images/mbucksig.jpg" alt="" />
        <p>
          <strong>Martin Buck</strong><br />
          President, <br />
          The Iron Butt Association UK
        </p>
      </div>
    </div>
  </body>
</html>
